@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=MonteCarlo&family=Cormorant+Upright:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*Header*/

.header {
    height:73px;
    background-color: #0a0a0a;
    padding: 10px 0px ;
}


.nav {
    background-color:#131313;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.nav-link {
    font-family: 'ABeeZee', sans-serif;
    color:#dfdfdf;
    padding: 15px;
    margin: 0;
    float: right;
}

.nav__titulo {
    color: #b5b4b6;
    font-family: 'MonteCarlo';
    font-size: xx-large;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nav__items {
    display: flex;
    flex-direction: row;
}

/*INDEX*/

.gridIndex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'nav1 nav2 nav2'
    'iArea1 iArea1 iArea1'
    'iArea2 iArea3 iArea4';
    gap: 10px;
    justify-content: space-evenly;
}

.gn1{
    grid-area: nav1;

}

.gn1{
    grid-area: nav2;

}

.gi1{
    grid-area: iArea1;

}

.gi2{
    grid-area: iArea2;
}

.gi3{
    grid-area: iArea3;
}

.gi4{
    grid-area: iArea4;
}

.body {
    background-color:#0a0a0a;
    min-height: 100vh;
    position: relative;
}

.body::after {
    content: '';
    display: block;
    height: 130px;
}

.btn {
    color: #000;
    /* background-color: #59CEE6; */
    padding: 10px;
    width: 150px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 24px; */
}

.hero{
    background-color:#131313;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/backgroungHero.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.hero--mini {
    background-color:#131313;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/backgroungHero.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 130px;
}

.hero p {
    font-family: 'Cormorant Infant', serif;
    color:#d4d3d4;
    font-size: large;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width: 900px;
}

.hero__titulo {
    color: #d4d3d4;
    font-family: 'MonteCarlo';
    font-size: 70px;
}

/* .ramas {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
} */

.rama {
    width: 100%;
    /* padding: 10px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}

.rama img {
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 3% /9%;
    box-shadow:5px 5px 5px #000000;
}

.rama__body{
    font-family: 'Cormorant Infant', serif;
    width: 80%;
}

.rama__body h2 {
    color: #d4d3d4;
    font-family:  'ABeeZee', sans-serif;
}

.rama__body p {
    color: #b5b4b6;
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
}

/*CONTACTO*/

.sectionForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.sectionForm__form {
    background: #131313;
    border-radius: 5%;
    box-shadow:5px 5px 5px #080808;
    color: #fff;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    font-family: 'ABeeZee', sans-serif;
}

.sectionForm__mapa {
    background-color: #131313;
    padding: 20px;
    border-radius: 5%;
    box-shadow:5px 5px 5px #080808;
}

.sectionForm__form__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sectionForm__form__content input {
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

.sectionForm__form__content textarea {
    resize: none;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

.sectionForm__form__btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/*NOSOTROS*/

.bodyNosotros {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 20px;
}

.bodyNosotros__text {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
    color: #b5b4b6;
    display: flex;
    align-items:center;
    justify-content: center;

}

.bodyNosotros__text p {
    width: 500px;
    background-color: #131313;
    border-radius: 3% /6%;
    padding: 20px;
    box-shadow:5px 5px 5px #080808;
}

.bodyNosotros__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyNosotros__img img{
    border-radius: 3% /6%;
    width: 400px;
    height: 200px;
}

.bodyNosotros__iframe {
    display: flex;
    justify-content: center;
}

.gridNosotros{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'nArea1 nArea2'
        'nArea3 nArea4';
    gap: 30px;
    /* justify-content:space-around; */
    margin: 0 30% 0 30%;
}

.gn1 {
    grid-area: nArea1;
}

.gn2 {
    grid-area: nArea2;
}

.gn3 {
    grid-area: nArea3;
}

.gn4{
    grid-area: nArea4;
}

/*STAFF*/

.staff {
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-evenly;
    margin: 20px;
    width: 100%;
}

.staff__person {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color:#b5b4b6;
    align-items: center;
    width: 600px;
    background-color: #131313;
    border-radius: 3%/6%;
    padding: 10px;
    box-shadow:5px 5px 5px #080808;
}

.staff__person ul li {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
}

.staff__person img {
    border-radius: 50%;
}
/*Footer*/

.footer {
    font-family: 'ABeeZee', sans-serif;
    color:#b5b4b6;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    background-color: #0a0a0a;
    position: absolute;
    bottom: 0;
}

.footer__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #131313;
    opacity: 1;
    align-items: center;
    width: 100%;
}

.footer__datos {
    display:flex;
    flex-direction: column ;
}

.footer__nav {
    display:flex;
    flex-direction: column ;
}

.footer__nav ul li a {
    color:#b5b4b6;
}

.footer__section div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__redes ul li a {
    color:#b5b4b6;
}





