.card {
    --bs-card-border-color: #242424;
    box-shadow: 1px 1px 1px 1px $color-shadow1;

    img {
        height: 130px;
        object-fit: cover;
    }
}

.card-body-color {
    background-color: $color-lightblack;
    color: #eee;
    border-color: $color-lightblack2;
}

.card__transform{
    transition: 0.4s;

    &:hover{
        box-shadow: 2px 2px 2px 2px rgb(65, 65, 65);
        transform: scale(1, 1.05);
    }
}

.card__width {
    width: 20rem;
}

.card-title {
    font-size: 25px;
}
.card-text {
    font-size: 20px;
}