
.footer {
    @include flexoptions (row, center,space-evenly);
    position: absolute;
    font-family: 'ABeeZee', sans-serif;
    color:$color-lightgray;
    width: 100%;
    background-color: $color-lightblack2;
    bottom: 0;

    .footer__section {
        @include flexoptions (row, center,space-evenly);
        opacity: 1;
        width: 100%;
        background-color: $color-lightblack;

        .container-fluid{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.footer__datos {
    @include flexoptions (column, center,space-evenly);
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 0;

    ul {
        @include flexoptions (column, center,center);
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
    }
}

.footer__nav {
    @include flexoptions (column, center,space-evenly);

    ul li a {
        color: $color-lightgray;
    }
}

.footer__redes ul li a {
    color: $color-lightgray;
}

.footerAlignItems {
    @include flexoptions (row, center,right);
}