.header {
    height: 73px;
    background-color: $color-lightblack2;
    margin-bottom: 10px;
}

.link {
    @include flexoptions (row, center,space-evenly);

    a {
        position: relative;
    }

    a:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $color-lightgray;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
    }

    a:hover:after {
        transform-origin: left;
        transform: scaleX(1);
    }

}

.row {
    margin-right: 0;
    margin-left: 0;
}