.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hero_bg{
    background-image: linear-gradient(75deg, #0f0f0f52, #00000098), url(../assets/images/backgroungHero.png);
    background-position: center;
    background-size: cover;
}

.hero--mini {
    background-color:$color-lightgray;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(75deg, #0f0f0f52, #00000098), url(../assets/images/backgroungHero.png);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.hero p {
    font-family: 'Cormorant Infant', serif;
    color:$color-lightgray;
    font-size: large;
    padding: 0px 10px 0px 10px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.hero__titulo {
    color:$color-lightgray;
    font-family: 'MonteCarlo';
    font-size: 70px;
}
