@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=MonteCarlo&family=Gudea&family=Cormorant+Upright:wght@300&display=swap');

$color-lightgray:#e2e2e2;
$color-lightgray2:#dfdfdf;
$color-lightblack:#191919;
$color-lightblack2:#0a0a0a;
$color-shadow1:rgb(34, 34, 34);

$font-body:'Gudea';
$font-titulo:'MonteCarlo';
$font-links: 'ABeeZee';