@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=MonteCarlo&family=Cormorant+Upright:wght@300&display=swap');

$color-lightgray:#b5b4b6;
$color-lightgray2:#dfdfdf;
$color-lightblack:#131313;
$color-lightblack2:#0a0a0a;