.sectionForm {
    @include flexoptions (row, center, space-evenly);
    width: 100%;
    padding: 10px;
}

.sectionForm__mapa {
    background-color: $color-lightblack;
    box-shadow: 2px 2px 2px 2px rgb(49, 49, 49);
    width: 90%;
    padding: 20px;
    margin: 20px;
    border-radius: 3%/6%;
    gap: 10px;

    iframe{
        width: 100%;
        height: 350px;
        border: 0;
        border-radius: 3%/6%;
    }
}

.sectionForm__form {
    @include flexoptions (column, left, space-between);
    @extend .sectionForm__mapa;
    font-family: $font-links, sans-serif;
    height: 100%;
    color: #fff;

    .sectionForm__form__content {
        @include flexoptions (column, left, space-between);
        gap: 10px;

        input {
            padding: 10px;
            background: #eee;
            border-radius: 5px;
        }

        textarea {
            resize: none;
            padding: 10px;
            background: #eee;
            border-radius: 5px;
        }
    }

    .sectionForm__form__btn {
        @include flexoptions (row, center, flex-end);
        gap: 10px;

        input {
            background-color: $color-lightgray;
            font-size: 14px;
        }
    }
}

