.bodyNosotros {
    @include flexoptions (row,center,space-around);
    gap: 20px;
}

.bodyNosotros__text {
    @include flexoptions (row,center,center);
    font-family: $font-body, serif;
    font-size: 20px;
    color: $color-lightgray;


    p {
        width: 80%;
        background-color: $color-lightblack;
        border-radius: 3% /6%;
        padding: 20px;
        box-shadow:5px 5px 5px $color-lightblack2;
        margin-bottom: 0;
    }

}

.bodyNosotros__img {
    @include flexoptions (row,center,center);

    img{
        border-radius: 3% /6%;
        width: 400px;
        height: 200px;
    }
}

.bodyNosotros__iframe {
    @include flexoptions (row,center,center);
}

.alignNosotros {
    @include flexoptions (row,center,center);
}
