.staff {
    @include flexoptions (row,center,center);

    .staff__person {
        @include flexoptions (row,center,center);

        gap: 10px;
        color:$color-lightgray;
        width: 600px;
        background-color: $color-lightblack;
        border-radius: 3%/6%;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px $color-shadow1;
        transition: 0.4s;
        margin-bottom: 10px;
        margin-top: 10px;
    
        ul li {
            font-family: $font-body, serif;
            font-size: 20px;
            padding: 3px;
        }
        ul {
            padding: 0;
        }
    
    
        img {
            border-radius: 15%;
            width: 200px;
            padding: 5px;
        }
        
        &:hover{
            box-shadow: 1px 1px 1px 1px rgb(32, 32, 32);
            transform: scale(1, 1.05);
        }
    }
    
}

