.staff {
    display: flex;
    justify-content: center;
}

.staff__person {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color:$color-lightgray;
    align-items: center;
    width: 600px;
    background-color: $color-lightblack;
    border-radius: 3%/6%;
    padding: 10px;
    box-shadow:5px 5px 5px $color-lightblack2;
    transition: 0.4s;
}

.staff__person ul li {
    font-family: 'Cormorant Upright', serif;
    font-size: 18px;
}

.staff__person img {
    border-radius: 50%;
}

.staff__person:hover{
    box-shadow: 1px 1px 1px 1px rgb(32, 32, 32);
    transform: scale(1, 1.05);
}